<div class="jumbotron text-center" style="background-color: blue; color: black;"  > 
    <header>
        <h1>The RSDM App</h1>
    </header>
</div>
<div class="container">
    <ul class="nav nav-tabs" role="tablist" style="font-size: xx-large; color: black;">
        <li class="active">
          <a class="nav-link" href="/basic/">Home <span class="sr-only">(current)</span></a>
        </li>
         <!-- <li>
          <a class="nav-link" href="#">Summary</a>
        </li> -->
        <li>
          <a class="nav-link" href="/basic/new">Create New Title</a>
        <!-- </li>
          <a class="nav-link" href="#">Disabled</a>
        </li> -->
        <li>
            <a class="nav-link" href=""></a>
        </li>
      </ul>
    </div>
  </nav>