/* Body styles */
body {
    background-color: blue;
    color: black;
    font-family: Arial, sans-serif; /* You can change the font-family if needed */
  }
  
  /* Header styles */
  header {
    text-align: center;
    background-color: blue;
    color: black;
    padding: 20px 0;
  }
  
  /* Jumbotron styles */
  .jumbotron {
    text-align: center;
    background-color: blue;
    color: black;
    padding: 20px;
  }
  
  .jumbotron h1 {
    margin-bottom: 20px;
  }
  
  /* Container styles */
  .container {
    margin-top: 20px;
  }
  
  /* Column styles */
  .col-sm-4 {
    padding: 20px;
    border: 1px solid black;
  }
  
  .col-sm-4 h1 {
    margin-bottom: 10px;
  }
  
  .col-sm-4 h2 {
    margin-bottom: 20px;
  }
  
  /* Buttons styles */
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Links styles */
  a {
    color: #007bff; /* Change the link color as desired */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }