<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body style="background-color: blue; color: black;">
        <%- include("../partials/header.ejs") %>




        
    </article>


</main>
</body>

</html>